.front,
.back {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
}

.front {
  transform: perspective(1500px) rotateY(0deg);
}

.back {
  transform: perspective(1500px) rotateY(180deg);
}

.animated:hover .front {
  transform: perspective(1500px) rotateY(-180deg);
}

.animated:hover .back {
  transform: perspective(1500px) rotateY(0deg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 35px;
  max-width: 1800px;
}

.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  line-height: 0;
  border-radius: 4px;
}

.card-container {
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-xs {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 17px;
  width: calc(25% - 15px);
  height: 500px;
}


.card-xs_content_bottom {
  justify-content: flex-end;
  padding-bottom: 37px;
}

.card-xs_content_top {
  padding-top: 72px;
}

.card-xs__link {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: url(../images/cards/icons/link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-xs__label {
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background-color: #5dc397;
  border-radius: 19px;
}

.card-xs__review-stars {
  display: block;
  margin-bottom: 24px;
  width: 88px;
  height: 16px;
}

.card-xs__review-text {
  margin-top: 0;
  margin-bottom: 0;
}

.card-xs__prod-image {
  display: block;
  line-height: 0;
}

.card-xs__title {
  margin-top: 0;
  text-align: center;
}

.card-xs__review-name {
  margin-top: 0;
}

.card-xs__decorative-image {
  display: block;
  line-height: 0;
  border-radius: 4px;
}

.card-xs__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.card-sm {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 17px;
  width: calc(33.333% - 13.33px);
  height: 500px;
}

.card-sm_content_bottom {
  justify-content: flex-end;
  padding-bottom: 36px;
}

.card-sm_content_top {
  padding-top: 72px;
}

.card-sm__link {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: url(../images/cards/icons/link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-sm__label {
  box-sizing: border-box;
  position: absolute;
  top: 23px;
  left: 21px;
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #153c2f;
  background-color: #5dc397;
  border-radius: 19px;
}

.card-sm__prod-image {
  display: block;
  line-height: 0;
}

.card-sm__title {
  margin-top: 0;
  text-align: center;
}

.card-sm__tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-sm__tags-item {
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-radius: 19px;
}

.card-sm__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.card-sm__back-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}

.card-sm__back-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 24px;
  line-height: 30.5px;
  color: #fff;
}

.card-smd {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 17px;
  width: calc(42% - 10px);
  height: 543px;
}

.card-smd__description {
  margin-top: 0;
  margin-bottom: 33px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.card-smd__title {
  margin-top: 0;
  margin-bottom: 37px;
  max-width: 355px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  color: #5dc397;
}

.card-smd__button {
  max-width: 334px;
  width: 100%;
  height: 54px;
  background: url(../images/cards/temp-button.jpg) no-repeat;
  border: none;
  border-radius: 34px;
}

.card-smd__tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-smd__tags-item {
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-radius: 19px;
}

.card-one {
  order: 1;
  margin-right: 20px;
}

.card-one .front {
  background-color: #1b4638;
  border-radius: 4px;
}

.card-one__container {
  padding: 132px 30px 0;
}

.card-one .back {
  padding: 132px 30px 0;
  background-color: grey;
  border-radius: 4px;
}

.card-lg {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 17px;
  width: calc(58% - 10px);
  height: 543px;
}

.card-lg__tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-lg__tags-item {
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-radius: 19px;
}

.card-md {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px);
  height: 890px;
}

.card-md_content_bottom {
  justify-content: flex-end;
  padding-bottom: 72px;
}

.card-md_content_top {
  padding-top: 121px;
}

.card-md__link {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: url(../images/cards/icons/link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-md__label {
  box-sizing: border-box;
  position: absolute;
  top: 23px;
  left: 21px;
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #153c2f;
  background-color: #5dc397;
  border-radius: 19px;
}

.card-md__title {
  margin-top: 0;
  text-align: center;
}

.card-md__back-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}

.card-md__back-subtitle {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
}

.card-md__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.card-md__back-text {
  margin-top: 0;
  margin-bottom: 12px;
  max-width: 729px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 20px;
  line-height: 25.5px;
  color: #fff;
}

.card-md__back-text_last {
  margin-bottom: 40px;
}

.card-md__back-text_no-margin-bottom {
  margin-bottom: 0;
}

.card-md__tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-md__tags-item {
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-radius: 19px;
}

.card-md__button {
  padding: 11px 20px;
  max-width: 263px;
  min-height: 54px;
  width: 100%;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #5dc397;
  cursor: pointer;
}

.card-two {
  order: 2;
}

.card-two .front {
  background: url(../images/cards/card-two-bg.jpg) center no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.card-three {
  order: 3;
  margin-right: 20px;
  margin-bottom: 17px;
}

.card-three .back {
  background: #fff url(../images/cards/card-four-bg.jpg) center no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.card-three .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-three__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.card-three__title {
  margin-bottom: 42px;
  max-width: 340px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 88px;
  line-height: 84px;
  color: #eecf74;
}

.card-three__tags-list {
  max-width: 360px;
}

.card-three__tags-item {
  color: #1b4638;
  background-color: #eecf74;
}

.card-four {
  order: 4;
}

.card-four .back {
  background: #1b4638;
  border-radius: 4px;
}

.card-four .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-four__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 20px;
}

.card-four__title {
  margin-bottom: 40px;
  max-width: 380px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 88px;
  line-height: 87px;
  text-transform: uppercase;
  color: #1b4638;
}

.card-four__back-text {
  max-width: 803px;
}

.card-four__tags-list {
  max-width: 336px;
}

.card-four__tags-item {
  color: #fff;
  background-color: #1b4638;
}

.card-xl {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 543px;
}

.card-xl_content_top {
  padding-top: 48px;
}

.card-xl__link {
  position: absolute;
  display: block;
  top: 14px;
  right: 12px;
  width: 50px;
  height: 50px;
  background: url(../images/cards/icons/card-seventeen-link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-xl__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5dc397;
}

.card-xl__back-description {
  margin-top: 0;
  margin-bottom: 147px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b4638;
}

.card-xl__title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 511px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #1b4638;
}

.card-xl__back-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #1b4638;
}

.card-xl__back-text {
  margin-top: 0;
  margin-bottom: 12px;
  max-width: 769px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 20px;
  line-height: 25.5px;
  color: #1b4638;
}

.card-xl__back-text_last {
  margin-bottom: 0;
}

.card-xl__tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-xl__tags-item {
  padding: 1px 8px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-radius: 19px;
}

.card-five {
  order: 5;
  margin-bottom: 17px;
}

.card-five__image {
  border: 1px solid #e1eeee;
  border-radius: 4px;
}

.card-five__container {
  align-items: flex-start;
  padding-top: 131px;
  padding-left: 240px;
}

.card-five__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.card-five .back {
  border-radius: 4px;
}

.card-five__description {
  max-width: 459px;
  width: 100%;
  text-align: center;
  color: #1b4638;
}

.card-five__title {
  margin-bottom: 40px;
  max-width: 459px;
  font-size: 67px;
  line-height: 60px;
  text-align: center;
  color: #1b4638;
}

.card-five__tags-list {
  padding-left: 50px;
  max-width: 360px;
}

.card-five__tags-item {
  color: #fff;
  background-color: #1b4638;
}

.card-six {
  order: 6;
  margin-right: 20px;
  margin-bottom: 17px;
  height: 500px;
}

.card-six .front {
  background-color: #1b4638;
  border-radius: 4px;
}

.card-six__container {
  align-items: flex-start;
  padding-left: 21px;
  padding-right: 21px;
}

.card-six .back {
  background-color: #1b4638;
  border-radius: 4px;
}

.card-six .back .card-sm_content_bottom {
  padding-bottom: 48px;
}

.card-six__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.card__six .card-sm_content_bottom {
  padding-bottom: 37px;
}

.card-six__title {
  margin-bottom: 0;
  max-width: 487px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  color: #5dc397;
}

.card-six__text {
  display: none;
  max-width: 585px;
  color: #e7f2f1;
}

.card-six__back-text {
  max-width: 430px;
  color: #fff;
}

.card-seven {
  order: 7;
  margin-right: 20px;
  height: 500px;
}

.card-seven .back {
  border-radius: 4px;
}

.card-seven .back .card-sm_content_bottom {
  padding-bottom: 48px;
}

.card-seven__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.card-seven .card-sm_content_top {
  padding-top: 102px;
}

.card-seven__title {
  margin-bottom: 24px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.card-seven__tags-list {
  max-width: 511px;
}

.card-seven__tags-item {
  color: #1b4638;
  background-color: #fff;
}

.card-seven__text {
  display: none;
}

.card-seven__back-text {
  margin-bottom: 0;
  max-width: 438px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.38px;
}

.card-eight {
  order: 8;
}

.card-eight .card-sm_content_top {
  padding-top: 50px;
}

.card-eight .front {
  background-color: #fff;
  border: 1px solid #e1eeee;
  border-radius: 4px;
}

.card-eight .back {
  background-color: #fff;
  border: 1px solid #E1EEEE;
  border-radius: 4px;
}

.card-eight .back .card-sm_content_bottom {
  padding-bottom: 48px;
}

.card-eight__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 30px;
}

.card-eight__link {
  background: url(../images/cards/icons/card-green-link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-eight__prod-image {
  margin-bottom: 32px;
  width: 77px;
  height: 203px;
  object-fit: contain;
}

.card-eight__title {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 380px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #1b4638;
}

.card-eight__back-title {
  max-width: 380px;
  color: #1b4638;
}

.card-eight__back-text {
  max-width: 478px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.38px;
  color: #1b4638;
}

.card-eight__tags-list {
  max-width: 380px;
}

.card-eight__tags-item {
  color: #fff;
  background-color: #1b4638;
}

.card-nine {
  order: 9;
  margin-bottom: 17px;
  margin-right: 20px;
  height: 544px;
}

.card-nine .card-md_content_top {
  padding-top: 155px;
}

.card-nine .back {
  border-radius: 4px;
}

.card-nine .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-nine__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 30px;
}

.card-nine__title {
  max-width: 514px;
  margin-bottom: 24px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #eecf74;
}

.card-nine__back-title {
  max-width: 520px;
}

.card-nine__back-subtitle {
  letter-spacing: -0.456px;
}

.card-nine__back-text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.38px;
}

.card-nine .card-md__back-text_last {
  margin-bottom: 44px;
}

.card-nine__tags-list {
  max-width: 424px;
}

.card-nine__tags-item {
  color: #1b4638;
  background-color: #eecf74;
}

.card-ten {
  order: 10;
  margin-bottom: 17px;
  height: 544px;
}

.card-ten .card-md_content_bottom {
  padding-bottom: 95px;
}

.card-ten .back {
  border-radius: 4px;
}

.card-ten .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-ten__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 30px;
}

.card-ten__title {
  margin-bottom: 18px;
  max-width: 411px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.card-ten__back-title {
  max-width: 411px;
}

.card-ten__back-text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.38px;
}

.card-ten .card-md__back-text_last {
  margin-bottom: 28px;
}

.card-ten__tags-list {
  max-width: 346px;
}

.card-ten__tags-item {
  color: #1b4638;
  background-color: #fff;
}

.card-eleven {
  order: 11;
  margin-right: 20px;
  margin-bottom: 17px;
  height: 544px;
}

.card-eleven .card-md_content_top {
  padding-top: 185px;
}

.card-eleven .back {
  border-radius: 4px;
}

.card-eleven .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-eleven__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 30px;
}

.card-eleven__title {
  max-width: 440px;
  margin-bottom: 24px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #eecf74;
}

.card-eleven__back-title {
  max-width: 420px;
}

.card-eleven__back-text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.38px;
}

.card-eleven__tags-list {
  max-width: 228px;
}

.card-eleven__tags-item {
  color: #1b4638;
  background-color: #eecf74;
}

.card-twelve {
  order: 12;
  margin-bottom: 17px;
  height: 544px;
}

.card-twelve .card-md_content_bottom {
  padding-bottom: 40px;
}

.card-twelve .front {
  background-color: #1b4638;
  border-radius: 4px;
}

.card-twelve .back {
  background: #1b4638;
  border-radius: 4px;
}

.card-twelve .back .card-md_content_bottom {
  padding-bottom: 48px;
}

.card-twelve__back-container {
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 30px;
}

.card-twelve__title {
  margin-bottom: 25px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #5dc397;
}

.card-twelve__back-title {
  color: #5dc397;
}

.card-twelve__back-text {
  max-width: 802px;
  font-size: 20px;
  line-height: 156%;
}

.card-twelve .card-md__back-text_last {
  margin-bottom: 23px;
}

.card-twelve__container {
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
}

.card-twelve__advantages-list {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  max-width: 620px;
  color: #e7f2f1;
}

.card-twelve__advantages-item {
  margin-bottom: 6px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #e7f2f1;
}

.card-twelve__advantages-item_last {
  margin-bottom: 0;
}

.card-twelve__another-text {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #e7f2f1;
}

.card-thirteen {
  order: 13;
  margin-right: 20px;
}

.card-thirteen .card-xs_content_top {
  padding-top: 80px;
}

.card-thirteen .front {
  background-color: #e1eeee;
  border-radius: 4px;
}

.card-thirteen .back {
  background: #1b4638;
  border-radius: 4px;
}

.card-thirteen__container {
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}

.card-thirteen__link {
  background: url(../images/cards/icons/card-thirteen-link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-fifteen__label {
  top: 23px;
  left: 20px;
}

.card-thirteen__review-name {
  margin-bottom: 7px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #153c2f;
}

.card-thirteen__review-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #153c2f;
}

.card-fourteen {
  order: 14;
  margin-right: 20px;
}

.card-fourteen .card-xs_content_top {
  padding-top: 154px;
}

.card-fourteen .front {
  background: #1b4638;
  border-radius: 4px;
}

.card-fourteen .back {
  background: #808080;
  border-radius: 4px;
}

.card-fourteen__title {
  margin-bottom: 0;
  max-width: 355px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.card-fifteen {
  order: 15;
  margin-right: 20px;
}

.card-fifteen .card-xs_content_bottom {
  padding-bottom: 20px;
}

.card-fifteen .front {
  background-color: #fff;
  border: 1px solid #e1eeee;
  border-radius: 4px;
}

.card-fifteen .back {
  background: #1b4638;
  border-radius: 4px;
}

.card-fifteen__container {
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.card-fifteen__link {
  background: url(../images/cards/icons/card-fifteen-link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-fifteen__title {
  margin-bottom: 20px;
  max-width: 270px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #153c2f;
}

.card-fifteen__decorative-image {
  width: 100%;
}

.card-sixteen {
  order: 16;
}

.card-sixteen .card-xs_content_bottom {
  padding-bottom: 34px;
}

.card-sixteen .front {
  background-color: #fff;
  border: 1px solid #e1eeee;
  border-radius: 4px;
}

.card-sixteen .back {
  background-color: #1b4638;
  border-radius: 4px;
}

.card-sixteen__container {
  align-items: flex-start;
  padding-left: 28px;
  padding-right: 20px;
}

.card-sixteen__link {
  background: url(../images/cards/icons/card-green-link-icon.svg) center no-repeat;
  background-size: cover;
}

.card-sixteen__title {
  margin-bottom: 23px;
  max-width: 302px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  color: #1b4638;
}

.card-sixteen__text {
  max-width: 343px;
  color: #1b4638;
}

.card-sixteen__another-text {
  display: none;
  color: #1b4638;
}

.card-seventeen {
  order: 17;
  margin-bottom: 21px;
}

.card-seventeen__image {
  border: 1px solid #e1eeee;
  border-radius: 4px;
}

.card-seventeen__container {
  padding-top: 64px;
}

.card-seventeen .back {
  background: #1b4638;
  border-radius: 4px;
}

@media screen and (max-width: 1920px) {
  .cards {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1920px;
  }
}

@media screen and (max-width: 1850px) {
  .card-twelve__back-text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1800px) {
  .card-thirteen__review-text {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1700px) {
  .card-xl__back-description {
    margin-bottom: 170px;
  }

  .card-xl__back-text {
    max-width: 680px;
    font-size: 18px;
    line-height: 22px;
  }

  .card-five__container {
    padding-left: 120px;
  }

  .card-six__back-text {
    font-size: 22px;
    line-height: 28px;
  }

  .card-seven__back-text {
    font-size: 18px;
    line-height: 26px;
  }

  .card-eight__back-text {
    font-size: 18px;
    line-height: 26px;
  }

  .card-twelve__back-text {
    font-size: 17px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1510px) {
  .card-ten__back-subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 1479px) {
  .card-xs-sm {
    width: calc(33.33% - 13.33px);
  }

  .card-sm-md {
    width: calc(50% - 10px);
  }

  .card-sm-sm {
    width: calc(33% - 10px);
  }

  .card-md-lg {
    width: calc(67% - 10px);
  }

  .card-md__back-text_hidden-lg {
    display: none;
  }

  .card-smd {
    height: 500px;
  }

  .card-smd__description {
    margin-bottom: 23px;
    font-size: 16px;
  }

  .card-smd__title {
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 48px;
  }

  .card-one__container {
    padding-top: 115px;
  }

  .card-one .back {
    padding-top: 115px;
  }

  .card-lg {
    height: 500px;
  }

  .card-md {
    height: 700px;
  }

  .card-md_content_bottom {
    padding-bottom: 52px;
  }

  .card-md_content_top {
    padding-top: 110px;
  }

  .card-md__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-three__title {
    margin-bottom: 25px;
    max-width: 223px;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-weight: 400;
    font-size: 67px;
    line-height: 60px;
  }

  .card-four__title {
    margin-bottom: 25px;
    max-width: 318px;
    font-size: 75px;
    line-height: 64px;
  }

  .card-xl {
    height: 500px;
  }

  .card-xl__description {
    margin-bottom: 23px;
  }

  .card-xl__back-description {
    margin-bottom: 130px;
  }

  .card-xl__back-text {
    max-width: 500px;
    font-size: 16px;
    line-height: 20px;
  }

  .card-five__container {
    padding-top: 141px;
    padding-left: 65px;
  }

  .card-five__title {
    margin-bottom: 94px;
  }

  .card-seven {
    margin-right: 0;
  }

  .card-eight {
    order: 9;
  }

  .card-nine {
    order: 8;
    height: 500px;
  }

  .card-nine__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-ten {
    order: 11;
    height: 500px;
  }

  .card-ten .card-md_content_bottom {
    padding-bottom: 51px;
  }

  .card-ten__back-subtitle {
    font-size: 24px;
  }

  .card-eleven {
    order: 12;
    height: 500px;
  }

  .card-eleven .card-md_content_top {
    padding-top: 60px;
  }

  .card-twelve {
    order: 13;
    height: 500px;
  }

  .card-twelve .card-md_content_bottom {
    padding-bottom: 37px;
  }

  .card-twelve__container {
    padding-left: 21px;
    padding-right: 21px;
  }

  .card-twelve__back-text {
    font-size: 17px;
    line-height: 22px;
  }

  .card-twelve__advantages-list {
    max-width: 474px;
  }

  .card-twelve__advantages-item {
    font-size: 16px;
  }

  .card-thirteen {
    order: 14;
  }

  .card-thirteen__review-text {
    font-size: 16px;
    line-height: 28px;
  }

  .card-fourteen {
    order: 15;
  }

  .card-fifteen {
    order: 16;
    margin-right: 0;
  }

  .card-sixteen {
    order: 10;
    margin-right: 20px;
    width: calc(33% - 10px);
  }
}

@media screen and (max-width: 1380px) {
  .card-eight__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-thirteen__review-text {
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .card-xs-md {
    width: calc(50% - 10px);
  }

  .card-sm-md {
    width: calc(50% - 10px);
  }

  .card-md-xl {
    width: 100%;
  }

  .card-smd {
    height: 350px;
  }

  .card-one__container {
    padding-top: 70px;
  }

  .card-smd .back {
    padding-top: 70px;
  }

  .card-smd-xl {
    margin-right: 0;
    width: 100%;
  }

  .card-smd__title {
    max-width: 450px;
  }

  .card-md {
    height: 500px;
  }

  .card-md_content_top {
    padding-top: 83px;
  }

  .card-md__back-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
  }

  .card-md__back-text_last {
    margin-bottom: 20px;
  }

  .card-md__button {
    max-width: 220px;
    font-size: 14px;
    line-height: 28px;
  }

  .card-xl__back-description {
    margin-bottom: 150px;
  }

  .card-xl__back-text {
    max-width: 420px;
    font-size: 14px;
    line-height: 18px;
  }

  .card-three {
    margin-bottom: 17px;
    order: 2;
  }

  .card-three .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-three__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-four {
    order: 3;
  }

  .card-four .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-four__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-two {
    order: 4;
  }

  .card-lg-xl {
    width: 100%;
  }

  .card-five__container {
    padding-left: 30px;
  }

  .card-seven__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-eight {
    order: 11;
  }

  .card-nine {
    order: 8;
    margin-right: 0;
  }

  .card-nine__back-text {
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 20px;
    line-height: 150%;
  }

  .card-ten {
    order: 9;
  }

  .card-ten__back-text {
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 20px;
    line-height: 150%;
  }

  .card-eleven {
    margin-right: 0;
  }

  .card-eleven .card-md_content_top {
    padding-top: 110px;
  }

  .card-eleven__back-text {
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 20px;
    line-height: 150%;
  }

  .card-twelve {
    margin-right: 20px;
  }

  .card-twelve .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-twelve__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-thirteen {
    order: 15;
  }

  .card-thirteen__review-text {
    font-size: 16px;
    line-height: 28px
  }

  .card-fourteen {
    order: 14;
    margin-right: 0;
  }

  .card-sixteen {
    order: 10;
  }

  .card-sixteen__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .card-xl_content_top {
    padding-top: 24px;
  }

  .card-xl__back-description {
    margin-bottom: 174px;
  }

  .card-md__back-title {
    margin-bottom: 12px;
    font-size: 34px;
    line-height: 40px;
  }

  .card-md__back-text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
  }

  .card-md__back-text_no-margin-bottom {
    margin-bottom: 0;
  }

  .card-md__back-text_last {
    margin-bottom: 15px;
  }

  .card-md__button {
    max-width: 180px;
    min-height: 44px;
    font-size: 13px;
    line-height: 22px;
  }

  .card-five__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-six__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-six__back-text {
    font-size: 20px;
    line-height: 26px;
  }

  .card-seven__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-seven__back-title {
    font-size: 34px;
    line-height: 40px;
  }

  .card-seven__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-eight__back-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-eight__back-title {
    max-width: 280px;
    font-size: 34px;
    line-height: 40px;
  }

  .card-eight__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-nine .card-md__back-text_last {
    margin-bottom: 30px;
  }

  .card-nine__back-title {
    margin-bottom: 20px;
    max-width: 440px;
    font-size: 36px;
    line-height: 48px;
  }

  .card-nine__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-ten__back-title {
    margin-bottom: 20px;
    max-width: 320px;
    font-size: 36px;
    line-height: 48px;
  }

  .card-ten__back-text {
    font-size: 18px;
    line-height: 24px;
  }

  .card-eleven__back-title {
    margin-bottom: 20px;
    max-width: 320px;
    font-size: 36px;
    line-height: 48px;
  }

  .card-eleven__back-text {
    font-size: 18px;
    line-height: 150%;
  }

  .card-twelve .card-md__button {
    max-width: 220px;
  }
}

@media screen and (max-width: 960px) {
  .card-sm__tags-item {
    font-size: 12px;
    line-height: 22px;
  }

  .card-md__tags-item {
    font-size: 12px;
    line-height: 22px;
  }

  .card-md__tags-item-md_hidden {
    display: none;
  }

  .card-xl__back-description {
    margin-bottom: 184px;
    font-size: 14px;
    line-height: 24px;
  }

  .card-xl__back-title {
    font-size: 36px;
    line-height: 40px;
  }

  .card-xl__back-text {
    max-width: 390px;
    font-size: 13px;
    line-height: 18px;
  }

  .card-three__tags-list {
    max-width: 300px;
  }

  .card-four__title {
    font-size: 67px;
    line-height: 64px;
  }

  .card-six__title {
    max-width: 340px;
    font-size: 34px;
    line-height: 38px;
  }

  .card-six__text {
    font-size: 16px;
    line-height: 22px;
  }

  .card-ten__back-text {
    max-width: 650px;
  }

  .card-twelve__title {
    margin-bottom: 15px;
    font-size: 36px;
  }

  .card-thirteen__review-text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 880px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 880px;
  }

  .card-xl__back-text {
    max-width: 380px;
    font-size: 12px;
    line-height: 18px;
  }

  .card-five__description {
    max-width: 400px;
  }

  .card-five__title {
    max-width: 400px;
  }

  .card-five__tags-list {
    padding-left: 20px;
  }

  .card-six__title {
    max-width: 340px;
    font-size: 28px;
    line-height: 36px;
  }

  .card-six__text {
    font-size: 14px;
    line-height: 22px;
  }

  .card-eight__prod-image {
    height: 180px;
  }

  .card-ten__back-subtitle {
    font-size: 22px;
  }

  .card-thirteen__review-text {
    font-size: 15px;
    line-height: 23px;
  }
}

@media screen and (max-width: 768px) {

  .front,
  .back {
    transition: none;
  }

  .animated:hover .front {
    transform: perspective(1500px) rotateY(0deg);
  }

  .animated:hover .back {
    transform: perspective(1500px) rotateY(180deg);
  }

  .cards {
    padding: 26px 20px 0;
  }

  .card-smd {
    margin-bottom: 12px;
    height: 267px;
  }

  .card-one__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-smd .back {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-smd__description {
    margin-bottom: 13px;
  }

  .card-smd__title {
    margin-bottom: 43px;
    max-width: 399px;
    font-size: 38px;
    line-height: 46px;
  }

  .card-lg {
    height: 403px;
  }

  .card-lg-xl {
    width: 100%;
  }

  .card-xs-md {
    width: calc(50% - 6px);
    height: 372px;
  }

  .card-sm-md {
    width: calc(50% - 6px);
    height: 372px;
  }

  .card-md {
    width: calc(50% - 6px);
    height: 372px;
  }

  .card-md-xl {
    width: 100%;
  }

  .card-md_content_top {
    padding-top: 83px;
  }

  .card-md_content-md_top {
    justify-content: flex-start;
    padding-top: 83px;
    padding-bottom: 0;
  }

  .card-md__tags-item-sm_hidden {
    display: none;
  }

  .card-md__back-text_hidden-md {
    display: none;
  }

  .card-three {
    order: 2;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .card-three__title {
    margin-bottom: 83px;
  }

  .card-three__tags-list {
    max-width: 315px;
  }

  .card-four {
    order: 3;
  }

  .card-four__title {
    margin-bottom: 74px;
    max-width: 284px;
    font-size: 67px;
    line-height: 64px;
  }

  .card-four__tags-list {
    max-width: 298px;
  }

  .card-four__tags-item {
    color: #1b4638;
    background-color: #fff;
  }

  .card-xl__back-description {
    margin-bottom: 94px;
  }

  .card-xl__tags-item {
    font-size: 12px;
    line-height: 22px;
  }

  .card-five {
    height: 403px;
  }

  .card-five__container {
    padding-top: 52px;
    padding-left: 39px;
  }

  .card-five__description {
    max-width: 344px;
  }

  .card-five__title {
    margin-bottom: 98px;
    max-width: 344px;
  }

  .card-five__tags-list {
    padding-left: 11px;
    max-width: 315px;
  }

  .card-six {
    margin-right: 12px;
  }

  .card-six .card-sm_content_bottom {
    padding-bottom: 24px;
  }

  .card-six__title {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 46px;
  }

  .card-six__text {
    display: block;
    font-size: 16px;
    line-height: 22px;
  }

  .card-seven .card-sm_content_top {
    padding-top: 112px;
  }

  .card-seven__title {
    margin-bottom: 15px;
  }

  .card-seven__back-text {
    font-size: 15px;
    line-height: 22px;
  }

  .card-eight .card-sm_content_top {
    padding-top: 50px;
  }

  .card-eight__prod-image {
    height: 169px;
  }

  .card-eight__tags-list {
    display: none;
  }

  .card-nine {
    height: 403px;
  }

  .card-nine .card-md_content_top {
    padding-top: 115px;
  }

  .card-nine .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-nine__back-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-ten {
    height: 403px;
  }

  .card-ten .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-ten__back-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-eleven {
    height: 403px;
  }

  .card-eleven .card-md_content_top {
    padding-top: 60px;
  }

  .card-eleven .back .card-md_content_bottom {
    padding-bottom: 24px;
  }

  .card-eleven__back-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-twelve {
    margin-right: 12px;
  }

  .card-twelve .card-md_content_bottom {
    padding-bottom: 20px;
  }

  .card-twelve__container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-twelve__title {
    margin-bottom: 8px;
    padding-left: 8px;
    font-size: 32px;
  }

  .card-twelve__back-text {
    margin-bottom: 20px;
  }

  .card-twelve__advantages-list {
    max-width: 324px;
  }

  .card-twelve__advantages-item {
    line-height: 20px;
  }

  .card-thirteen {
    margin-right: 12px;
    height: 432px;
  }

  .card-thirteen__review-text {
    font-size: 14px;
    line-height: 22.5px;
  }

  .card-fourteen .card-xs_content_top {
    padding-top: 120px;
  }

  .card-fifteen {
    height: 432px;
  }

  .card-sixteen {
    margin-right: 12px;
  }

  .card-sixteen .card-xs_content_bottom {
    padding-bottom: 26px;
  }

  .card-seventeen {
    margin-bottom: 97px;
    height: 403px;
  }

  .card-seventeen__container {
    padding: 33px 20px 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }
}

@media screen and (max-width: 750px) {
  .card-sm__tags-item_hidden-md {
    display: none;
  }

  .card-seven__tags-list {
    max-width: 200px;
  }

  .card-thirteen__review-text {
    font-size: 12px;
    line-height: 21px;
  }
}

@media screen and (max-width: 668px) {
  .card-xs__review-stars {
    margin-bottom: 14px;
  }

  .card-sm__tags-list {
    display: none;
  }

  .card-md__tags-list {
    display: none;
  }

  .card-three__title {
    font-size: 47px;
    line-height: 45px;
  }

  .card-four__title {
    font-size: 47px;
    line-height: 43px;
  }

  .card-lg {
    height: 350px;
  }

  .card-md__text {
    display: none;
  }

  .card-six__title {
    font-size: 27px;
    line-height: 30px;
  }

  .card-six__text {
    display: none;
  }

  .card-eight__title {
    font-size: 32px;
    line-height: 36px;
  }

  .card-nine__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-nine__title {
    max-width: 440px;
    font-size: 36px;
    line-height: 40px;
  }

  .card-nine__tags-list {
    display: flex;
  }

  .card-ten__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-ten__tags-list {
    display: flex;
  }

  .card-eleven__tags-list {
    display: flex;
  }

  .card-twelve__title {
    font-size: 24px;
    line-height: 32px;
  }

  .card-twelve__advantages-item {
    font-size: 14px;
    line-height: 18px;
  }

  .card-thirteen__review-name {
    font-size: 20px;
    line-height: 28px;
  }

  .card-thirteen__review-text {
    font-size: 12px;
    line-height: 18px;
  }

  .card-fourteen__title {
    font-size: 32px;
    line-height: 36px;
  }

  .card-fifteen__title {
    font-size: 20px;
    line-height: 28px;
  }

  .card-sixteen__title {
    margin-bottom: 16px;
    max-width: 170px;
    font-size: 32px;
    line-height: 36px;
  }

  .card-sixteen__text {
    line-height: 24px;
  }
}

@media screen and (max-width: 560px) {
  .card-xs__label {
    top: 20px;
    left: 20px;
  }

  .card-seventeen {
    height: 360px;
  }

  .card-eight__title {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 34px;
  }

  .card-twelve__title {
    font-size: 20px;
    line-height: 24px;
  }

  .card-twelve__advantages-item {
    line-height: 16px;
  }

  .card-thirteen .card-xs_content_top {
    padding-top: 60px;
  }

  .card-thirteen__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-seventeen__title {
    max-width: 360px;
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .card-xs_sm-hidden {
    display: none;
  }

  .card-xs-md {
    height: 250px;
  }

  .card-xs-lg {
    width: 100%;
    height: 394px;
  }

  .card-sm-md {
    height: 250px;
  }

  .card-md {
    height: 250px;
  }

  .card-three__title {
    max-width: 160px;
    font-size: 32px;
    line-height: 30px;
  }

  .card-four__title {
    font-size: 32px;
    line-height: 30px;
  }

  .card-lg {
    height: 300px;
  }

  .card-six__title {
    font-size: 22px;
    line-height: 30px;
  }

  .card-seven__title {
    font-size: 32px;
    line-height: 36px;
  }

  .card-eight .card-sm_content_top {
    padding-top: 40px;
  }

  .card-eight__prod-image {
    height: 90px;
  }

  .card-eight__title {
    font-size: 24px;
    line-height: 30px;
  }

  .card-nine .card-md_content_top {
    padding-top: 50px;
  }

  .card-nine__title {
    max-width: 350px;
    font-size: 30px;
    line-height: 34px;
  }

  .card-ten .card-md_content_bottom {
    padding-bottom: 30px;
  }

  .card-eleven .card-md_content_top {
    padding-top: 55px;
  }

  .card-twelve__title {
    padding-left: 0;
  }

  .card-twelve__advantages-list {
    display: none;
  }

  .card-twelve__another-text {
    display: block;
  }

  .card-thirteen {
    margin-right: 0;
  }

  .card-thirteen__review-text {
    font-size: 14px;
    line-height: 22px;
  }

  .card-fourteen .card-xs_content_top {
    padding-top: 70px;
  }

  .card-fourteen__title {
    font-size: 24px;
    line-height: 30px;
  }

  .card-sixteen__text {
    display: none;
  }

  .card-sixteen__another-text {
    display: block;
    line-height: 24px;
  }
}

@media screen and (max-width: 460px) {
  .card-smd {
    height: 220px;
  }

  .card-one__container {
    padding-bottom: 20px;
  }

  .card-smd .back {
    padding-bottom: 20px;
  }

  .card-smd__description {
    display: none;
  }

  .card-smd__title {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 32px;
  }

  .card-lg {
    height: 250px;
  }

  .card-xl__tags-list {
    display: none;
  }

  .card-five {
    height: 250px;
  }

  .card-five__container {
    padding-top: 30px;
    padding-left: 20px;
  }

  .card-five__description {
    max-width: 220px;
  }

  .card-five__title {
    max-width: 220px;
    font-size: 38px;
    line-height: 40px;
  }

  .card-eight__title {
    font-size: 22px;
    line-height: 28px;
  }

  .card-nine__tags-item-sm_hidden {
    display: none;
  }

  .card-ten__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 34px;
  }

  .card-ten__tags-item-sm_hidden {
    display: none;
  }

  .card-eleven .card-md_content_top {
    padding-top: 70px;
  }

  .card-eleven__title {
    max-width: 320px;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 38px;
  }

  .card-twelve__title {
    font-size: 16px;
    line-height: 18px;
  }

  .card-fourteen__title {
    font-size: 22px;
    line-height: 28px;
  }

  .card-sixteen__title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width: 390px) {
  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .card-xs-md {
    height: 200px;
  }

  .card-xs-lg {
    height: 394px;
  }

  .card-sm-md {
    height: 200px;
  }

  .card-md {
    height: 200px;
  }

  .card-xs__link {
    display: none;
  }

  .card-sm__link {
    display: none;
  }

  .card-md__link {
    display: none;
  }

  .card-md__label {
    display: none;
  }

  .card-md_content_top {
    padding-top: 50px;
  }

  .card-md_content-md_top {
    padding-top: 50px;
  }

  .card-three__title {
    max-width: 75px;
    font-size: 20px;
    line-height: 22px;
  }

  .card-four__title {
    max-width: 85px;
    font-size: 20px;
    line-height: 23px;
  }

  .card-lg {
    height: 200px;
  }

  .card-six__title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px;
  }

  .card-seven .card-sm_content_top {
    padding-top: 50px;
  }

  .card-seven__title {
    font-size: 22px;
    line-height: 28px;
  }

  .card-eight .card-sm_content_top {
    padding-top: 34px;
  }

  .card-eight__prod-image {
    height: 68px;
  }

  .card-eight__title {
    font-size: 16px;
    line-height: 22px;
  }

  .card-nine .card-md_content_top {
    padding-top: 35px;
  }

  .card-nine__container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-nine__title {
    max-width: 220px;
    font-size: 18px;
    line-height: 22px;
  }

  .card-nine__tags-list {
    max-width: 366px;
  }

  .card-ten .card-md_content_bottom {
    padding-bottom: 20px;
  }

  .card-ten__container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-ten__title {
    max-width: 170px;
    font-size: 18px;
    line-height: 25px;
  }

  .card-eleven .card-md_content_top {
    padding-top: 30px;
  }

  .card-eleven__title {
    margin-bottom: 23px;
    max-width: 200px;
    font-size: 20px;
    line-height: 24px;
  }

  .card-twelve__container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .card-thirteen__link {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../images/cards/icons/card-thirteen-link-icon-320.svg) center no-repeat;
    background-size: cover;
  }

  .card-sixteen .card-xs_content_bottom {
    padding-bottom: 22px;
  }

  .card-twelve__title {
    font-size: 14px;
    line-height: 16px;
  }

  .card-thirteen__review-text {
    font-size: 13px;
    line-height: 18px;
  }

  .card-fourteen .card-xs_content_top {
    padding-top: 55px;
  }

  .card-fourteen__title {
    font-size: 16px;
    line-height: 22px;
  }

  .card-sixteen__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 19px;
  }

  .card-sixteen__another-text {
    font-size: 12px;
    line-height: 15px;
  }

  .card-seventeen {
    height: 300px;
  }

  .card-seventeen__description {
    font-size: 14px;
  }

  .card-seventeen__title {
    max-width: 280px;
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    padding: 20px 12px 0;
  }

  .card-xs__label {
    top: 10px;
    left: 10px;
    font-size: 12px;
    line-height: 22px;
  }

  .card-xs__review-stars {
    margin-bottom: 14px;
  }

  .card-smd {
    height: 121px;
  }

  .card-one__container {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .card-smd .back {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .card-smd__description {
    display: none;
  }

  .card-smd__title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 21px;
  }

  .card-smd__button {
    max-width: 249px;
    height: 40px;
    background: url(../images/cards/temp-button-320.jpg) no-repeat;
  }

  .card-xs-md {
    height: 148px;
  }

  .card-xs-lg {
    height: 394px;
  }

  .card-sm-md {
    height: 148px;
  }

  .card-md {
    height: 148px;
  }

  .card-md_content_top {
    padding-top: 17px;
  }

  .card-md_content-md_top {
    padding-top: 15px;
  }

  .card-md__link {
    display: none;
  }

  .card-sm__label {
    top: 10px;
    left: 10px;
    font-size: 12px;
    line-height: 22px;
  }

  .card-md__label {
    top: 10px;
    left: 10px;
    font-size: 12px;
    line-height: 22px;
  }

  .card-three {
    order: 3;
    margin-right: 0;
  }

  .card-three__title {
    max-width: 75px;
    font-size: 20px;
    line-height: 22px;
  }

  .card-four {
    order: 2;
    margin-right: 12px;
  }

  .card-four__title {
    max-width: 85px;
    font-size: 20px;
    line-height: 23px;
  }

  .card-lg {
    height: 163px;
  }

  .card-xl__link {
    display: none;
  }

  .card-xl__description {
    display: none;
  }

  .card-xl__tags-list {
    display: none;
  }

  .card-five {
    height: 148px;
  }

  .card-five__container {
    padding-top: 10px;
    padding-left: 10px;
  }

  .card-five__description {
    order: 2;
    display: block;
    margin-bottom: 0;
    max-width: 75px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
  }

  .card-five__title {
    order: 1;
    margin-bottom: 63px;
    max-width: 138px;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
  }

  .card-six .card-sm_content_bottom {
    padding-bottom: 10px;
  }

  .card-six__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .card-six__title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
  }

  .card-seven .card-sm_content_top {
    padding-top: 11px;
  }

  .card-seven__container {
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-seven__title {
    margin-bottom: 16px;
    max-width: 80px;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }

  .card-seven__text {
    max-width: 110px;
    display: block;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  .card-seven__text-block {
    display: block;
  }

  .card-eight .card-sm_content_top {
    padding-top: 15px;
  }

  .card-eight__prod-image {
    margin-bottom: 12px;
  }

  .card-nine {
    height: 163px;
  }

  .card-nine .card-md_content_top {
    padding-top: 21px;
  }

  .card-ten {
    height: 163px;
  }

  .card-eleven {
    height: 163px;
  }

  .card-eleven .card-md_content_top {
    padding-top: 19px;
  }

  .card-twelve .card-md_content_bottom {
    padding-bottom: 8px;
  }

  .card-thirteen {
    margin-right: 0;
  }

  .card-thirteen .card-xs_content_top {
    padding-top: 46px;
  }

  .card-thirteen__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-thirteen__link {
    top: 8px;
    right: 8px;
  }

  .card-thirteen__review-name {
    font-size: 16px;
    line-height: 32px;
  }

  .card-thirteen__review-text {
    max-width: 254px;
    font-size: 12px;
    line-height: 21.5px;
  }

  .card-fourteen .card-xs_content_top {
    padding-top: 60px;
  }

  .card-fourteen__container {
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-fourteen__title {
    font-size: 15px;
    line-height: 19.5px;
    text-align: left;
  }

  .card-sixteen .card-xs_content_bottom {
    padding-bottom: 10px;
  }

  .card-sixteen__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-sixteen__title {
    margin-bottom: 1px;
  }

  .card-seventeen {
    margin-bottom: 41px;
    height: 153px;
  }

  .card-seventeen__container {
    padding-top: 9px;
  }

  .card-seventeen__title {
    font-size: 14px;
    line-height: 48px;
  }
}