.footer {
  box-sizing: border-box;
  background-color: #f1f4f4;
}

.footer__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 32px;
  max-width: 1800px;
}

.footer__actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer__socials {
  max-width: 488px;
}

.footer__connect-socials {
  margin-bottom: 59px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1b4638;
}

.footer__title_type_hotel-presentation {
  margin-bottom: 9px;
}

.footer__text {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 410px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.176px;
  color: #1e1e1e;
}

.footer__text_type_subscribe {
  max-width: 432px;
  margin-bottom: 30px;
  line-height: 130%;
}

.footer__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px 7px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__link {
  display: block;
  height: 29px;
}

.footer__link_type_vk {
  width: 64px;
  background: url(../images/footer/icons/vk.svg) no-repeat;
  background-size: contain;
}

.footer__link_type_telegram {
  width: 110px;
  background: url(../images/footer/icons/telegram.svg) no-repeat;
  background-size: contain;
}

.footer__link_type_youtube {
  display: none;
  width: 102px;
  background: url(../images/footer/icons/youtube.svg) no-repeat;
  background-size: contain;
}

.footer__link_type_vc-ru {
  display: none;
  width: 84px;
  background: url(../images/footer/icons/vc-ru.svg) no-repeat;
  background-size: contain;
}

.footer__link_type_ya-dzen {
  display: none;
  width: 133px;
  height: 30px;
  background: url(../images/footer/icons/ya-dzen.svg) no-repeat;
  background-size: contain;
}

.footer__menu-and-subscribe {
  display: flex;
}

.footer__menu {
  display: flex;
  margin-right: 116px;
}

.footer__menu_hidden-lg {
  display: none;
}

.footer__menu-column-one {
  margin-top: 5px;
  margin-right: 71px;
}

.footer__menu-column-two {
  margin-top: 5px;
}

.footer__menu-links-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__menu-link {
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #366656;
}

.footer__subscribe {
  max-width: 432px;
}

.footer__subscribe_hidden-lg {
  display: none;
}

.footer__hotel-presentation_hidden-lg {
  display: none;
}

.footer__form {
  display: flex;
  flex-direction: column;
  max-width: 328px;
}

.footer__input {
  box-sizing: border-box;
  margin-bottom: 9px;
  padding: 0 12px;
  height: 50px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #50776a;
  outline: none;
  border: 1px solid #50776a;
  border-radius: 4px;
}

.footer__input::placeholder {
  color: #50776a;
}

.footer__button {
  box-sizing: border-box;
  margin-bottom: 14px;
  padding: 18px 28px;
  min-height: 50px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background-color: #5dc397;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer__button::after {
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 12px;
  content: "";
  background: url(../images/footer/icons/arrow-right.svg) center no-repeat;
  background-size: cover;
}

.footer__button_type_hotel-presentation {
  margin-bottom: 0;
  max-width: 312px;
  width: 100%;
}

.footer__policy {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #50776a;
}

.footer__policy-link {
  display: block;
  color: #50776a;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8da9a8;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.footer__trademark {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 400px;
}

.footer__made-by {
  margin: 0 2px 0 0;
}

.footer__copyright {
  display: block;
}

@media screen and (max-width: 1920px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1920px;
  }
}

@media screen and (max-width: 1580px) {
  .footer__subscribe_hidden-md {
    display: none;
  }

  .footer__hotel-presentation_hidden-md {
    display: none;
  }

  .footer__subscribe_hidden-lg {
    display: block;
  }

  .footer__hotel-presentation_hidden-lg {
    display: block;
  }

  .footer__menu-and-subscribe {
    max-width: 396px;
    width: 100%;
    flex-direction: column;
  }

  .footer__menu {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .footer__menu-column-one {
    margin-top: 0;
  }

  .footer__menu-column-two {
    margin-top: 0;
  }
}

@media screen and (max-width: 1060px) {
  .footer__menu {
    flex-direction: column;
  }

  .footer__menu-column-two {
    margin-top: 10px;
  }

  .footer__menu-and-subscribe {
    max-width: 250px;
  }
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 880px;
  }

  .footer__socials {
    max-width: 330px;
  }

  .footer__title {
    font-size: 15px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__text_type_subscribe {
    line-height: 150%;
  }
}

@media screen and (max-width: 800px) {
  .footer__actions {
    padding-bottom: 32px;
  }

  .footer__made-by {
    max-width: 208px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 768px;
  }

  .footer__container {
    padding-top: 40px;
    padding-bottom: 18px;
  }

  .footer__connect-socials {
    margin-bottom: 24px;
  }

  .footer__title_type_socials {
    margin-bottom: 12px;
    max-width: 298px;
    font-size: 20px;
    line-height: 22px;
  }

  .footer__title_type_subscribe {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer__title_type_hotel-presentation {
    margin-bottom: 9px;
    font-size: 14px;
  }

  .footer__text {
    margin-bottom: 11px;
    max-width: 333px;
    font-size: 13px;
    line-height: 143%;
    letter-spacing: -0.143px;
  }

  .footer__text_type_subscribe {
    max-width: 298px;
  }

  .footer__links-list {
    max-width: 300px;
  }

  .footer__menu-and-subscribe {
    max-width: 312px;
    width: 100%;
    flex-direction: column;
  }

  .footer__menu {
    flex-direction: column;
    margin-left: 7px;
    margin-right: 0;
    margin-bottom: 61px;
  }

  .footer__menu-column-one {
    margin-top: -2px;
  }

  .footer__menu-column-two {
    margin-top: 10px;
  }

  .footer__form {
    max-width: 298px;
  }

  .footer__info {
    padding-top: 19px;
  }

  .footer__made-by {
    max-width: 208px;
  }
}

@media screen and (max-width: 720px) {
  .footer__socials {
    max-width: 290px;
  }

  .footer__title {
    font-size: 15px;
  }

  .footer__menu-and-subscribe {
    max-width: 250px;
  }
}

@media screen and (max-width: 670px) {
  .footer__info {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 16px;
  }

  .footer__trademark {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 630px) {
  .footer__menu_hidden-sm {
    display: none;
  }

  .footer__hotel-presentation_hidden-sm {
    display: none;
  }

  .footer__menu-and-subscribe_hidden-sm {
    display: none;
  }

  .footer__hotel-presentation_hidden-md {
    display: block;
  }

  .footer__menu_hidden-lg {
    display: block;
  }

  .footer__socials {
    max-width: 432px;
  }

  .footer__title {
    max-width: 432px;
    font-size: 18px;
  }

  .footer__connect-socials {
    margin-bottom: 40px;
  }

  .footer__menu {
    margin-bottom: 40px;
  }

  .footer__subscribe {
    margin-bottom: 40px;
  }

  .footer__button_type_hotel-presentation {
    max-width: 298px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 320px;
  }

  .footer__container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .footer__actions {
    padding-bottom: 40px;
  }

  .footer__connect-socials {
    margin-bottom: 36px;
  }

  .footer__title_type_socials {
    margin-bottom: 10px;
    max-width: 244px;
    font-size: 16px;
    line-height: 22px;
  }

  .footer__subscribe {
    margin-bottom: 36px;
  }

  .footer__title_type_subscribe {
    font-size: 14px;
    line-height: 22px;
  }

  .footer__title_type_hotel-presentation {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .footer__text {
    margin-bottom: 10px;
  }

  .footer__text_type_socials {
    margin-bottom: 11px;
  }

  .footer__menu {
    margin-left: 0;
    margin-bottom: 36px;
  }

  .footer__info {
    margin-left: -2px;
    padding-top: 15px;
  }

  .footer__trademark {
    max-width: 270px;
  }

  .footer__company {
    display: block;
    margin-top: 8px;
    max-width: 201px;
  }

  .footer__made-by {
    margin-left: 1px;
  }
}