.offer {
  box-sizing: border-box;
  margin: 0 auto 21px;
  max-width: 1359px;
}

.offer__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  min-height: 500px;
  background: #e7f2f1 url(../images/offer/offer-bg.svg) center no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.offer__link {
  position: absolute;
  display: block;
  top: 14px;
  right: 12px;
  width: 48px;
  height: 48px;
  background: url(../images/offer/link-icon.svg) no-repeat;
  background-size: contain;
}

.offer__description {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5dc397;
}

.offer__title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 511px;
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #1b4638;
}

@media screen and (max-width: 1499px) {
  .offer {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1499px;
  }
}

@media screen and (max-width: 880px) {
  .offer {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 880px;
  }
}

@media screen and (max-width: 768px) {
  .offer {
    margin-bottom: 97px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 768px;
  }

  .offer__container {
    padding: 33px 20px 0;
    min-height: 403px;
    background: url(../images/offer/offer-bg-768.svg) center no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 560px) {
  .offer__container {
    min-height: 360px;
  }

  .offer__title {
    max-width: 360px;
    font-size: 28px;
  }
}

@media screen and (max-width: 390px) {
  .offer__container {
    min-height: 300px;
  }

  .offer__description {
    font-size: 14px;
  }

  .offer__title {
    max-width: 280px;
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .offer {
    margin-bottom: 41px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 320px;
  }

  .offer__container {
    padding-top: 9px;
    min-height: 153px;
    background: url(../images/offer/offer-bg-320.svg) center no-repeat;
    background-size: cover;
  }

  .offer__link {
    display: none;
  }

  .offer__description {
    display: none;
  }

  .offer__title {
    font-size: 14px;
    line-height: 48px;
  }
}